html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering */
  background: url('assests/background1.png') center / cover no-repeat;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}